{% extends 'v2/base.html.twig' %}

{% block body %}
        <div class="container container2">
                <div class="row justify-content-center">
                        <div class="col-sm-12 col-lg-12">
                                <h1 class="title">{{ page.name }}</h1>
                                        {% set textParts = page.text|split('</p>', 2) %}
                                        {{ (textParts[0] ~ '</p>')|raw }}
                        </div>
                </div>
        </div>

                        {{ include('elements/_promotions.html.twig') }}
                        
                        <div class="price-list-orders__wrapper">
                            {{ price_list(page) }}
                        </div>

                        {{ include('elements/_advantages.html.twig') }}

                        {{ service_text(textParts[1]) }}

       <div class="brands-service-block__wrapper">
            <div class="container container2">
                    <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                    {{ brands_service_block(page.path) }}
                            </div>
                    </div>
            </div>
    </div>

{% endblock %}