{% extends 'v2/base.html.twig' %}

{% block videofon %}
    {% embed 'v2/embed/video_fone.html.twig'%}
    {% endembed %}
{% endblock %}

{% block breadcrumbs %}
{#{{ include('elements/_navigation.html.twig') }}#}
    {{ breadcrumbs(page ?? null) }}
{% endblock %}

{% block body %}
    {{ service_text(page.text) }}
    {#{{ include('v2/blocks/section/auto-brands.html.twig') }}#}
    <div class="brands-service-block__wrapper">
        <div class="container container2">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    {{ brands_service_block() }}
                </div>
            </div>
        </div>
    </div>
    <div class="price-list-orders__wrapper">
        {{ price_list(page) }}
    </div>
    {{ special_offers(page.brandAndModelName) }}
    {{ include('elements/_gallery.html.twig', {gallery:gallery}) }}
    {{ include('elements/_advantages.html.twig') }}



{% endblock %}